*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background: oklch(0.2 0 0);
  --foreground: oklch(0.99 0 0);
  --primary: oklch(0.56 0 0);
  --secondary: oklch(0.61 0.11 222);
  --accent: oklch(0.64 0.21 25);

  --comic-page-width: 100vw;
  --comic-page-height: 100vh;
  --comic-page-orientation: unset;
  --comic-page-url: unset;
  --page-menu-visibility: 0;
}

body {
  min-height: 100vh;
  background-color: var(--background);
  color: var(--foreground);
  font-family: system-ui, "Segoe UI", Roboto, sans-serif;
}

button {
  cursor: pointer;
  border: none;
  background-color: var(--foreground);
}

button:has(svg) {
  line-height: 0;
}

img {
  display: block;
}

button,
input {
  font: inherit;
}

dialog {
  margin: auto;
  border-radius: 0.4em;

  &::backdrop {
    backdrop-filter: blur(5px);
    background-color: hsla(from var(--primary) h s l / 0.25);
  }
}

.homepage {
  header {
    display: flex;
    justify-content: right;
    gap: 1em;
    align-items: center;
    max-height: 3.5em;
    padding-block: 1em 0.75em;
    padding-inline: 1em;

    input {
      flex: 1;
      padding: 0.25em 0.5em;
      min-height: 2.25em;
      margin-left: 5em;
      border-radius: 0.5em;
    }

    button {
      border-radius: 0.5em;
      opacity: 0.9;
      padding: 0.2em;
      transition: opacity 0.2s ease-in-out;

      &:hover,
      &:focus-within {
        opacity: 1;
        filter: drop-shadow(0 0 0.5em var(--foreground));
      }

      svg {
        fill: var(--background);
        width: 1.8em;
        height: 1.8em;
      }
    }
  }
}

.comic-grid {
  display: grid;
  gap: 0.75em;
  padding: 0.75em 1em;
  --col-width: 150px;
  grid-template-columns: repeat(auto-fill, minmax(min(var(--col-width), 100%), 1fr));
}

.comic-card {
  position: relative;
  isolation: isolate;
  display: grid;
  max-width: var(--col-width);
  gap: 0.25em;
  transition: opacity 0.2s ease-in;
  opacity: 1;

  &.loading {
    opacity: 0.6;
    cursor: not-allowed;

    a,
    button {
      pointer-events: none;
    }
  }

  button {
    position: absolute;
    background-color: transparent;
    right: 0;
    z-index: 2;

    svg {
      fill: var(--accent);
      width: 1.5em;
      height: 1.5em;
    }
  }

  a {
    text-decoration: none;
    font-size: 0.85em;
    color: inherit;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      z-index: 1;
    }
  }
}

.comic-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .page-container {
    position: relative;
    background-image: var(--comic-page-url);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: var(--comic-page-width);
    height: var(--comic-page-height);
    transform: var(--comic-page-orientation);
    transition: background-image linear 50ms;

    menu {
      position: absolute;
      width: var(--comic-page-width);
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-block: 1.5em;
      background: transparent;

      .page-menu {
        opacity: var(--page-menu-visibility);
        display: grid;
        gap: 0.4em;
        min-width: 250px;
        padding: 0.6em;
        background-color: hsla(from var(--primary) h s l / 0.6);
        border-radius: 0.5em;
        transition: opacity 0.2s ease-in-out;

        &:hover {
          opacity: 1;
        }
      }

      .page-input {
        display: flex;
        gap: 0.4em;

        input {
          cursor: pointer;
          flex: 1;
          outline: none;
        }

        span {
          padding: 0.2em;
          min-width: 3ch;
          font-weight: 500;
        }
      }

      .menu-btns {
        display: flex;
        gap: 0.4em;

        button {
          padding: 0.15em;
          border-radius: 0.5em;
          opacity: 0.9;
          transition: opacity 0.2s ease-in-out;

          &:hover,
          &:focus-within {
            opacity: 1;
            filter: drop-shadow(0 0 0.5em var(--foreground));
          }
        }
      }

      button > svg {
        width: 2em;
        height: 2em;
        fill: var(--background);
      }
    }
  }
}

.kbd-modal {
  padding: 2em 0.5em 0.5em;
  position: relative;

  button {
    position: absolute;
    background-color: transparent;
    transition: opacity 0.2s ease-in-out;
    padding: 0.2em;
    right: 0;
    top: 0;

    svg {
      width: 1.5em;
      height: 1.5em;
      fill: var(--accent);
    }

    &:hover,
    &:focus-visible {
      opacity: 0.75;
    }
  }

  table,
  th,
  td {
    border: 1px solid var(--background);
    border-collapse: collapse;
  }

  th,
  td {
    padding: 0.75em 1em;
  }

  td {
    font-size: 0.8em;
  }

  kbd {
    padding: 0.25em 0.6em;
    background-color: hsla(from var(--primary) h s l / 0.25);
    border: 1px solid var(--primary);
    border-radius: 0.2em;
  }
}
