*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --comic-page-width: 100vw;
  --comic-page-height: 100vh;
  --comic-page-orientation: unset;
  --comic-page-url: unset;
}

html {
  background-color: #fff;
}

body {
  min-height: 100vh;
}

button {
  cursor: pointer;
  border: none;
}

img {
  display: block;
}

button,
input {
  font: inherit;
}

.homepage {
  header {
    display: flex;
    justify-content: right;
    gap: 1em;
    align-items: center;
    max-height: 3.5em;
    padding: 0.5em 0.75em;

    input {
      flex: 1;
      padding: 0.25em;
      min-height: 2em;
      margin-left: 5em;
    }
  }
}

.comic-grid {
  display: grid;
  gap: 0.75em;
  padding: 0.75em;
  --col-width: 150px;
  grid-template-columns: repeat(auto-fill, minmax(min(var(--col-width), 100%), 1fr));
}

.comic-card {
  position: relative;
  isolation: isolate;
  display: grid;
  max-width: var(--col-width);
  gap: 0.25em;

  button {
    position: absolute;
    right: 0;
    z-index: 2;
  }

  a {
    text-decoration: none;
    font-size: 0.85em;
    color: inherit;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      z-index: 1;
    }
  }
}

.comic-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .page-container {
    position: relative;
    background-image: var(--comic-page-url);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: var(--comic-page-width);
    height: var(--comic-page-height);
    transform: var(--comic-page-orientation);

    menu {
      position: absolute;
      width: var(--comic-page-width);
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-block: 1.5em;
      background: transparent;

      .page-menu {
        opacity: 0;
        display: grid;
        gap: 0.4em;
        min-width: 250px;
        padding: 0.6em;
        background-color: lightgray;
        border-radius: 0.5em;
        transition: opacity 0.2s ease-in-out;

        &:hover {
          opacity: 1;
        }
      }

      .page-input {
        display: flex;
        gap: 0.4em;

        input {
          cursor: pointer;
          flex: 1;
          outline: none;
        }

        span {
          padding: 0.2em;
        }
      }

      .menu-btns {
        display: flex;
        gap: 0.4em;

        button {
          line-height: 0;
          padding: 0.15em;
          border-radius: 0.5em;
        }
      }

      button > svg {
        width: 2em;
        height: 2em;
        fill: #000;
      }
    }
  }
}
